dag {
    enabled = true
    file = '../results/nextflow/dag.html'
    overwrite = true
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--env GIT_ACCESS_TOKEN=$CO_USERNAME:$CO_PASSWORD --volume $DATA_PATH:/tmp/data'
}

env {
    RESULTS_PATH = '../results'
}

params {
    capsule_mapreduce_process_synapses_table_generate_config_28_args = "--data_source_name=unspecified"
}

process {
    debug = true
    errorStrategy = 'retry'
    maxErrors = 15
    maxRetries = 2
    withName: capsule_mapreduce_process_synapses_table_build_id_index_19 {
        containerOptions = '--env GOOGLE_SECRET=GOOGLE_SECRET'
    }
    withName: capsule_mapreduce_process_synapses_table_build_relation_index_24 {
        containerOptions = '--env GOOGLE_SECRET=GOOGLE_SECRET'
    }
    withName: capsule_mapreduce_process_synapses_table_conglomerate_id_index_by_shard_22 {
        containerOptions = '--env GOOGLE_SECRET=GOOGLE_SECRET'
    }
    withName: capsule_mapreduce_process_synapses_table_conglomerate_relation_index_by_shard_23 {
        containerOptions = '--env GOOGLE_SECRET=GOOGLE_SECRET'
    }
    withName: capsule_mapreduce_process_synapses_table_regroup_worker_outputs_18 {
        containerOptions = '--env GOOGLE_SECRET=GOOGLE_SECRET'
    }
    withName: capsule_mapreduce_process_synapses_table_reorganize_directory_structure_27 {
        containerOptions = '--env GOOGLE_SECRET=GOOGLE_SECRET'
    }
}

report {
    enabled = true
    file = '../results/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '../results/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '../results/nextflow/trace.txt'
    overwrite = true
}
